@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body { 
        font-family:'Anek Tamil', sans-serif;
        text-align: center;
    }

    .intro-image {
        background-image: url('../img/img6.jpeg');
        background-size: cover;
        background-position: center;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
    }

    .intro-image__link a {
        text-decoration: none;
        display: inline-block;
        font-size: 3.2rem;
        text-transform: uppercase;
        background-color: #c279397e;
        padding: 1.5rem;
        color: #e2d3c1;
        border: 1px solid #e7ab76c9;
        transition: all 1s ease-in-out;
    }

    .intro-image__link a:hover {
        transform: scale(1.25);
    }

    .intro-text {
        height: 300px;
        background-color: #a9a78ef8;
        color: #473023;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 14rem;
    }

    .intro-text__textbox h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .quality-image {
        background-image: url('../img/img9.jpeg');
        background-size: cover;
        background-position: center;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
    }

    .quality-image__link a {
        text-decoration: none;
        display: inline-block;
        font-size: 3rem;
        text-transform: uppercase;
        background-color: #434d55b0;
        padding: 1rem;
        color: #eddfdf;
        border: 1px solid #7b8ea0b0;
        transition: all 1s ease-in-out;
    }

    .quality-image__link a:hover {
        transform: scale(1.25);
    }

    .quality-text {
        height: 300px;
        background-color: #a9a78ef8;
        color: #57210d;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 14rem;
    }

    .quality-text__textbox h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .Origin-image {
        background-image: url('../img/img10.jpeg');
        background-size: cover;
        background-position: center;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
    }

    .Origin-image__link a {
        text-decoration: none;
        display: inline-block;
        font-size: 3rem;
        text-transform: uppercase;
        background-color: #424d3bb6;
        padding: 1rem;
        color: #b1c2a9;
        border: 1px solid #424d3b;
        transition: all 1s ease-in-out;
    }

    .Origin-image__link a:hover {
        transform: scale(1.25);
    }

    .Origin-text {
        height: 300px;
        background-color: #a9a78ef8;
        color: #19330e;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 14rem;
    }

    .Origin-text__textbox h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .footer  {
        height: 240px;
        background-color: #a9a78ef8;
        color: #19330e;
        padding-top: 2rem;
        font-size: 1.5rem;
    }

    .footer ul li {
        display: inline-block; 
        margin: 1.5rem;
    }

    .footer ul li a {
        color: #19330e;
        text-decoration: none;
    }

    .footer ul li:hover {
        transform: scale(1.2);
        /* color: #e2d3c1; */
    }



